.content{
    width: 90%;
    margin: 1.4rem auto auto auto;
}

.title{
    text-align: center;
    margin-bottom: 3rem;
}

.title h1{
    font-size: 2rem;
    color: rgb(70, 70, 70);
    font-weight: 500;
}

button{
    margin-bottom: .7rem;
}

.table{
    width: 100%;
}

.livros{
    margin-left: 0.3rem;
    color: blueviolet
}

.delete{
    color: rgb(223, 66, 66);
    margin-left: .5rem;
}

.mat-header-acoes{
    width: 5rem;
}


